# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Gradle
.gradle/
build/
**/build/
local.properties
*.iml
.idea/
.cxx/
.externalNativeBuild/
app/google-services.json

# OS
.DS_Store
Thumbs.db
